@import "../main";
@import "../partials/github-syntax-highlighting";

$tocBreakpoint: 1024px;

main {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}

.about {
    width: 100%;
    max-width: 42rem;
    margin: 0 auto;

    h2, h3 {
        position: relative;
        padding-top: 10px;

        .anchor {
            display:none;
        }
    }

    blockquote {
        width:95%;
        margin:0 auto;
        font-size: 1rem;

        a {
            color: $darkGrey;
            text-decoration: underline;
        }
    }

    img {
        width:100;
        max-width: 500px;
        margin: 0 auto;
        display: block;
    }
}

.about__title {
    margin-top:0;
    margin-bottom: 0.5rem;
}

.social-icons{
    justify-content: flex-start;
    padding-top: 1rem;
    margin-left: -0.8rem;
}

footer {
    text-align: center;
    padding: 0 1.5rem;
    background: $white;

    p {
        margin-top: 1rem;
        color: $grey;
        font-size: 0.65rem;
    }
}
